<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="templates/header :: headIncludes">
</head>
<body>
	<div th:include="templates/header :: carouselContent"></div>
	<div class="center">	
	    <div class="form-group auth-form">
	    	<input id="usernameRegister" type="text" placeholder="Username" class="form-control alignment" />
	    	<input id="passRegister" type="password" placeholder="Password" class="form-control alignment" />
	    	<button type="button" onclick="register()" class="btn btn-lg btn-success">Sign up</button>
	    </div>
	    <div class="form-group auth-form">
	    	<input id="usernameLogin" type="text" placeholder="Username" class="form-control alignment" />
	    	<input id="passLogin" type="password" placeholder="Password" class="form-control alignment" />
	    	<button type="button" onclick="login()" class="btn btn-lg btn-success">Log in</button>
	    </div>
	    <div id="validationSignUp" class="alert alert-danger auth-form" style="visibility: hidden;" role="alert"></div>
	    <div id="validationLogIn" class="alert alert-danger auth-form" style="visibility: hidden;" role="alert"></div>
	</div>
</body>
</html>
